<nz-row>
  <nz-col [nzSpan]="selected ? '11' : '12'">
    <nz-card>
      <form nzLayout="block" nz-form>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group nzPrefixIcon="search">
              <input  data-attr="search" nz nz-input placeholder="Search Folder" [formControl]='searchValue'
                name='search' id="search" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </form>
      <nz-divider></nz-divider>
      <div *ngIf="!searchInitialized"><i nz-icon [nzType]="'info-circle'" class="m-r-5"></i> Please search for a folder
        to see table
      </div>
      <nz-skeleton [nzLoading]="isLoadingData && searchInitialized" [nzActive]="true">
        <nz-table #basicTable [nzData]="listOfData" *ngIf="searchInitialized" [nzShowPagination]="false">
          <thead>
            <tr>
              <th>Name</th>
              <th>Patient No</th>
              <!-- <th>Folder No</th> -->
              <th>Folder Type</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data">
              <td>{{ data.title}} {{data.firstname}} {{data.middlename!==null?data.middlename :""}} {{data.surname}}
              </td>
              <td>{{ data.patient_no }}</td>
              <!-- <td>{{ data.folder_no }}</td> -->
              <td>{{ data.folder_type }}</td>

              <td>
                <a>view</a>
                <nz-divider nzType="vertical"></nz-divider>

              </td>
            </tr>
          </tbody>
        </nz-table>
        <div style="text-align: right;" class="m-t-10">
          <nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="totalItems" (nzPageIndexChange)="getPage($event)"
            [nzPageSize]="pageSize"></nz-pagination>
        </div>
      </nz-skeleton>
    </nz-card>
  </nz-col>
  <nz-col nzSpan="12">
    <nz-card>
      <form nz-form [formGroup]="sponsorForm">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="sponsorType">Sponsor type</nz-form-label>
          <nz-form-control nzErrorTip="Select a sponsor type">
            <input type="text" nz-input placeholder="Select a sponsor type" formControlName="sponsorType" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="sponsorName">Sponsor name</nz-form-label>
          <nz-form-control nzErrorTip="Select a sponsor name">
            <input type="text" nz-input placeholder="Select a sponsor name" formControlName="sponsorName" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="company">Company</nz-form-label>
          <nz-form-control nzErrorTip="Select a company">
            <input type="text" nz-input placeholder="Select a company" formControlName="company" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="memberId">Member ID</nz-form-label>
          <nz-form-control nzErrorTip="Enter a member ID">
            <input type="text" nz-input placeholder="Enter a member ID" formControlName="memberId" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="cardSerialNumber">Serial number</nz-form-label>
          <nz-form-control nzErrorTip="Enter card serial number">
            <input type="text" nz-input placeholder="Enter card serial number" formControlName="cardSerialNumber" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="staffId">Staff ID</nz-form-label>
          <nz-form-control nzErrorTip="Enter staff ID">
            <input type="text" nz-input placeholder="Enter staff ID" formControlName="staffId" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="beneficiary">Beneficiary</nz-form-label>
          <nz-form-control nzErrorTip="Select a beneficiary">
            <input type="text" nz-input placeholder="Select a beneficiary" formControlName="beneficiary" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="relation">Relation</nz-form-label>
          <nz-form-control nzErrorTip="Select a relation">
            <input type="text" nz-input placeholder="Select a relation" formControlName="relation" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="priority">Priority</nz-form-label>
          <nz-form-control nzErrorTip="Select a priority">
            <input type="text" nz-input placeholder="Select a priority" formControlName="priority" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="policy">Policy</nz-form-label>
          <nz-form-control nzErrorTip="Select a policy">
            <input type="text" nz-input placeholder="Select a policy" formControlName="policy" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="issueDate">Issue Date</nz-form-label>
          <nz-form-control nzErrorTip="Select a valid issued date">
            <nz-date-picker formControlName="issueDate" nzPlaceHolder="Select issue date"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="expiryDate">Expiry Date</nz-form-label>
          <nz-form-control nzErrorTip="Select a valid expiry date">
            <nz-date-picker formControlName="expiryDate" nzPlaceHolder="Select expiry date"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      
        <button nz-button nzType="primary" (click)="addSponsor()">
            <span>Add Sponsor</span>
          </button>
      </form>
    </nz-card>
  </nz-col>
</nz-row>