<nz-tabset nzTabPosition="top" [nzType]="'line'">
  <nz-tab nzTitle="Medical History Categories">
    <ng-template nz-tab>
      <app-medical-history-category></app-medical-history-category>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Allergy History Categories">
    <ng-template nz-tab>
      <app-allergy-history-category></app-allergy-history-category>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Family History Categories">
    <ng-template nz-tab>
      <app-family-history-category></app-family-history-category>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Medicine History Categories">
    <ng-template nz-tab>
      <app-medicine-history-category></app-medicine-history-category>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Social History Categories">
    <ng-template nz-tab>
      <app-social-history-category></app-social-history-category>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Surgical History Categories">
    <ng-template nz-tab>
      <app-surgical-history-category></app-surgical-history-category>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Illness Types">
    <ng-template nz-tab>
      <app-illness-type></app-illness-type>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Discharge Reasons">
    <ng-template nz-tab>
      <app-discharge-reason></app-discharge-reason>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Complaint Types">
    <ng-template nz-tab>
      <app-complain-type></app-complain-type>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Complaints">
    <ng-template nz-tab>
      <app-complaint></app-complaint>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Physical Examinations">
    <ng-template nz-tab>
      <app-physical-examination-category></app-physical-examination-category>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Moh GHS Groupings">
    <ng-template nz-tab>
      <app-mohghsgroupings></app-mohghsgroupings>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="ICD 10 Groupings">
    <ng-template nz-tab>
      <app-icd10groupings></app-icd10groupings>
    </ng-template>
  </nz-tab>
</nz-tabset>
