<nz-steps [nzCurrent]="stepIndex">
  <nz-step nzTitle="Billing Info"></nz-step>
  <nz-step nzTitle="Patient Info"></nz-step>
  <nz-step nzTitle="Contact Info"></nz-step>
  <nz-step nzTitle="Next of Kin"></nz-step>
</nz-steps>
<nz-card class="form-content">
  <div class="steps-content">
    <nz-modal [(nzVisible)]="isVisible" nzTitle="Create Company" (nzOnCancel)="handleCancel()">
      <form [formGroup]="companyForm">
        <nz-row class="m-b-10">
          <nz-form-control [nzSpan]="24">
            <input type="text" nz-input formControlName="name" name="name" placeholder="Input name of company" />
          </nz-form-control>
        </nz-row>
        <nz-row class="m-b-10">
          <nz-form-control [nzSpan]="24">
            <input type="tel" nz-input formControlName="phone" name="phone" placeholder="Input phone" />
          </nz-form-control>
        </nz-row>
        <nz-row class="m-b-10">
          <nz-form-control [nzSpan]="24">
            <input type="email" nz-input formControlName="email" name="email" placeholder="Input email" />
          </nz-form-control>
        </nz-row>
        <nz-row class="m-b-10">
          <div nz-col nzSpan="12">
            <input nz-input ngx-google-places-autocomplete #placesRef="ngx-places" placeholder="Address"
              (onAddressChange)="handleAddressChange($event)" formControlName="googleAddress" name="googleAddress" />
          </div>
        </nz-row>
      </form>
      <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="createCompany()" [nzLoading]="isCreatingCompany">Submit</button>
      </div>
    </nz-modal>
    <form nz-form [formGroup]="patientForm" (ngSubmit)="submitForm()">
      <div *ngIf="stepIndex === 0" formGroupName="billingInfo" nz-row>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="billingType">Funding Type</nz-form-label>
          <nz-form-control nzErrorTip="Please select a funding type">
            <nz-select formControlName="billingType" nzPlaceHolder="Select funding type"
              [nzLoading]="isLoadingFundingTypes">
              <nz-option *ngFor="let fundingType of fundingTypes" [nzValue]="fundingType.id"
                [nzLabel]="fundingType.name">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="folder_type">Folder Type</nz-form-label>
          <nz-form-control nzErrorTip="Please select a billing type">
            <nz-select formControlName="folder_type" nzPlaceHolder="Select folder type">
              <nz-option nzValue="FAMILY" nzLabel="Family"></nz-option>
              <nz-option nzValue="INDIVIDUAL" nzLabel="Individual"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <div *ngIf="isBillingSponsored" formGroupName="sponsored">
          <nz-form-item *ngIf="!isCash">
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="sponsorName">Sponsor Name</nz-form-label>
            <nz-form-control nzErrorTip="Select a sponsor name">
              <nz-select formControlName="sponsorName" nzPlaceHolder="Select sponsor name"
                [nzLoading]="isLoadingMedicalSponsors|async">
                <nz-option *ngFor="let sponsor of sponsors" [nzValue]="sponsor.id" [nzLabel]="sponsor.name"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item *ngIf="isPrivateCompany || isGovernmentCompany">
            <nz-form-label [nzXs]="6" nzRequired nzFor="company">Company Name</nz-form-label>
            <nz-form-control nzErrorTip="Select a company">
              <nz-input-group [nzAddOnAfter]="addOnBeforeTemplate">
                <ng-template #addOnBeforeTemplate>
                  <button nz-button nzType="default" (click)="showModal()">Add New</button>
                </ng-template>
                <nz-select formControlName="company" nzShowSearch nzAllowClear [nzLoading]="isLoadingCompanies|async"
                  nzPlaceHolder="Select company name">
                  <nz-option *ngFor="let company of companies" [nzValue]="company.id" [nzLabel]="company.name">
                  </nz-option>
                </nz-select>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item *ngIf="isPrivateInsurance || isGovernmentInsurance">
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="memberId">Member Id</nz-form-label>
            <nz-form-control nzErrorTip="Enter a valid member Id">
              <input type="text" nz-input placeholder="Member Id" formControlName="memberId" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item *ngIf="isGovernmentInsurance">
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="cardSerialNumber">Card Serial Number</nz-form-label>
            <nz-form-control nzErrorTip="Enter a valid card serial number">
              <input type="text" nz-input placeholder="Card Serial Number" formControlName="cardSerialNumber" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item *ngIf="isGovernmentCompany || isPrivateCompany">
            <nz-form-label [nzXs]="6" nzRequired nzFor="staffId">Staff Id</nz-form-label>
            <nz-form-control nzErrorTip="Enter a valid staff Id">
              <input type="text" nz-input placeholder="Staff Id" formControlName="staffId" />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item *ngIf="(isGovernmentCompany || isPrivateCompany) && isBeneficiaryDependant">
            <nz-form-label [nzXs]="6" nzRequired nzFor="staffId">Staff Name</nz-form-label>
            <nz-form-control nzErrorTip="Enter a valid staff name">
              <input type="text" nz-input placeholder="Staff Name" formControlName="staffName" />
            </nz-form-control>
          </nz-form-item>


          <nz-form-item *ngIf="!isCash">
            <nz-form-label [nzXs]="6" nzRequired nzFor="beneficiary">Beneficiary</nz-form-label>
            <nz-form-control nzErrorTip="Select beneficiary of sponsorship">
              <nz-select formControlName="beneficiary" nzPlaceHolder="Beneficiary of the sponsorship">
                <nz-option nzValue="SELF" nzLabel="Self"></nz-option>
                <nz-option nzValue="DEPENDANT" nzLabel="Dependant"></nz-option>
                <nz-option nzValue="BABY" nzLabel="Baby"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item *ngIf="isBeneficiaryDependant && !isCash">
            <nz-form-label [nzXs]="6" nzRequired nzFor="relation">Relation</nz-form-label>
            <nz-form-control nzErrorTip="Select the relation">
              <nz-select formControlName="relation" nzAllowClear [nzLoading]="isLoadingRelationships|async"
                nzPlaceHolder="Beneficiary's relationship to patient">
                <nz-option *ngFor="let relation of relationships" [nzValue]="relation.id" [nzLabel]="relation.name">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item *ngIf="isPrivateInsurance">
            <nz-form-label [nzXs]="6" nzRequired nzFor="policy">Health Plan</nz-form-label>
            <nz-form-control nzErrorTip="Select a health plan">
              <nz-select formControlName="policy" nzPlaceHolder="Select health plan" nzAllowClear
                [nzLoading]="isLoadingPolicies |async">
                <nz-option *ngFor="let policy of policies" [nzValue]="policy.id" [nzLabel]="policy.name">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item *ngIf="!isCash">
            <nz-form-label [nzXs]="6" nzRequired nzFor="issuedDate">Issue Date</nz-form-label>
            <nz-form-control nzErrorTip="Select a valid issued date">
              <nz-date-picker formControlName="issuedDate" nzPlaceHolder="Select issue date"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item *ngIf="!isCash">
            <nz-form-label [nzXs]="6" nzRequired nzFor="expiryDate">Expiry Date</nz-form-label>
            <nz-form-control nzErrorTip="Select a valid expiry date">
              <nz-date-picker formControlName="expiryDate" nzPlaceHolder="Select expiry date"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div *ngIf="stepIndex === 1" formGroupName="patientInfo" nz-row>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="title">Title</nz-form-label>
          <nz-form-control nzErrorTip="Select a title">
            <nz-select formControlName="title" nzPlaceHolder="Select title" [nzLoading]="isLoadingTitles">
              <nz-option *ngFor="let title of titles" [nzValue]="title.id" [nzLabel]="title.name"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="firstName">First Name</nz-form-label>
          <nz-form-control nzErrorTip="Enter a valid name">
            <input type="text" nz-input placeholder="First Name eg. (John)" formControlName="firstName" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="lastName">Last Name</nz-form-label>
          <nz-form-control nzErrorTip="Enter a valid name">
            <input type="text" nz-input placeholder="Last Name eg. (Anim)" formControlName="lastName" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="middleName">Middle Name</nz-form-label>
          <nz-form-control nzErrorTip="Enter a valid name">
            <input type="text" nz-input placeholder="Middle Name eg. (Agyare)" formControlName="middleName" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="dob">Date of birth</nz-form-label>
          <nz-form-control nzErrorTip="Select a valid date">
            <nz-date-picker formControlName="dob" nzPlaceHolder="Select date of birth" [nzDisabled]="useAge">
            </nz-date-picker>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="middleName">Age</nz-form-label>
          <nz-form-control nzErrorTip="Enter a valid name">
            <nz-input-number formControlName="age" (ngModelChange)="ageChanged()" [nzMin]="0" [nzMax]="200" [nzStep]="1"
              [nzFormatter]="formatterAge" [nzParser]="parserAge" [nzDisabled]="!useAge"></nz-input-number>
          </nz-form-control>
          <nz-switch formControlName="useAge" class="age-switch"></nz-switch>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="gender">Gender</nz-form-label>
          <nz-form-control nzErrorTip="Select a gender">
            <nz-select formControlName="gender" nzPlaceHolder="Select a gender">
              <nz-option nzValue="MALE" nzLabel="Male"></nz-option>
              <nz-option nzValue="FEMALE" nzLabel="Female"></nz-option>
              <nz-option nzValue="BIGENDER" nzLabel="Bigender"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="maritalStatus">Marital Status</nz-form-label>
          <nz-form-control nzErrorTip="Select marital status">
            <nz-select formControlName="maritalStatus" nzPlaceHolder="Select marital status">
              <nz-option nzValue="SINGLE" nzLabel="Single"></nz-option>
              <nz-option nzValue="MARRIED" nzLabel="Married"></nz-option>
              <nz-option nzValue="DIVORCED" nzLabel="Divorced"></nz-option>
              <nz-option nzValue="WIDOW" nzLabel="Widow"></nz-option>
              <nz-option nzValue="WIDOWER" nzLabel="Widower"></nz-option>
              <nz-option nzValue="OTHER" nzLabel="Other"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="nativeLanguage">Native Language</nz-form-label>
          <nz-form-control nzErrorTip="Enter native language">
            <nz-select nzPlaceHolder="Native language" formControlName="nativeLanguage" name="nativeLanguage"
              [nzLoading]="isLoadingLanguages | async">
              <nz-option *ngFor="let language of languages" [nzValue]="language.id" [nzLabel]="language.name">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="secondLanguage">Second Language</nz-form-label>
          <nz-form-control nzErrorTip="Select second language">
            <nz-select nzPlaceHolder="Second language" formControlName="secondLanguage" name="secondLanguage"
              [nzLoading]="isLoadingLanguages | async">
              <nz-option *ngFor="let language of languages" [nzValue]="language.id" [nzLabel]="language.name">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="officialLanguage">Official Language</nz-form-label>
          <nz-form-control nzErrorTip="Select official language">
            <nz-select nzPlaceHolder="Official language" formControlName="officialLanguage" name="officialLanguage"
              [nzLoading]="isLoadingLanguages | async">
              <nz-option *ngFor="let language of languages" [nzValue]="language.id" [nzLabel]="language.name">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="nationality">Nationality</nz-form-label>
          <nz-form-control nzErrorTip="Select nationality">
            <nz-select nzShowSearch formControlName="nationality" nzPlaceHolder="Select nationality"
              [nzLoading]="isLoadingCountryCodes | async">
              <nz-option *ngFor="let country of countries" [nzValue]="country.id" [nzLabel]="country.name"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="region">Region</nz-form-label>
          <nz-form-control nzErrorTip="Select region">
            <nz-select formControlName="region" nzPlaceHolder="Select region" [nzLoading]="isLoadingRegions | async">
              <nz-option *ngFor="let region of regions" [nzValue]="region.id" [nzLabel]="region.name"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="district">District</nz-form-label>
          <nz-form-control nzErrorTip="Select district">
            <nz-select formControlName="district" nzPlaceHolder="Select district"
              [nzLoading]="isLoadingDistricts | async">
              <nz-option *ngFor="let district of districts" [nzValue]="district.id" [nzLabel]="district.name">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="hometown">Hometown</nz-form-label>
          <nz-form-control nzErrorTip="Select hometown">
            <nz-select formControlName="hometown" nzPlaceHolder="Select hometown"
              [nzLoading]="isLoadingHomeTowns | async">
              <nz-option *ngFor="let hometown of hometowns" [nzValue]="hometown.id" [nzLabel]="hometown.name">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="religion">Religion</nz-form-label>
          <nz-form-control nzErrorTip="Select religion">
            <nz-select formControlName="religion" nzPlaceHolder="Select religion" [nzLoading]="isLoadingReligions">
              <nz-option *ngFor="let religion of religions" [nzValue]="religion.id" [nzLabel]="religion.name">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="educationalLevel">Educational Level</nz-form-label>
          <nz-form-control nzErrorTip="Select educational level">
            <nz-select formControlName="educationalLevel" nzPlaceHolder="Select educational level"
              [nzLoading]="isLoadingEducationalLevels">
              <nz-option *ngFor="let level of educationalLevels" [nzValue]="level.id" [nzLabel]="level.name">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="idtype">Id Type</nz-form-label>
          <nz-form-control nzErrorTip="Select ID type">
            <nz-select formControlName="idtype" nzPlaceHolder="Select ID type" name="idtype"
              [nzLoading]="isLoadingIdTypes | async">
              <nz-option *ngFor="let idtype of idtypes" [nzValue]="idtype.id" [nzLabel]="idtype.name"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="idNumber">ID Number</nz-form-label>
          <nz-form-control nzErrorTip="Enter id number">
            <input type="text" nz-input placeholder="Enter Id number" formControlName="idNumber" name="idNumber" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzXs]="6" nzRequired nzFor="IdExpiryDate">ID Expiry Date</nz-form-label>
          <nz-form-control nzErrorTip="Select a valid id expiry date">
            <nz-date-picker formControlName="IdExpiryDate" name="IdExpiryDate" nzPlaceHolder="Select id expiry date">
            </nz-date-picker>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="occupation">Occupation</nz-form-label>
          <nz-form-control nzErrorTip="Enter occupation">
            <nz-select nzPlaceHolder="Occupation" formControlName="occupation"
              [nzLoading]="isLoadingOccupations| async">
              <nz-option *ngFor="let occupation of occupations" [nzValue]="occupation.id" [nzLabel]="occupation.name">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="snnit">Snnit</nz-form-label>
          <nz-form-control nzErrorTip="Enter snnit no.">
            <input type="text" nz-input placeholder="Snnit number" formControlName="snnit" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="tin">Tin Number</nz-form-label>
          <nz-form-control nzErrorTip="Enter a valid tin number">
            <input type="text" nz-input placeholder="Tin" formControlName="tin" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="oldFolderNumber">Old Folder Number</nz-form-label>
          <nz-form-control nzErrorTip="Enter a valid folder number">
            <input type="text" nz-input placeholder="Old Folder Number" formControlName="oldFolderNumber" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div *ngIf="stepIndex === 2" formGroupName="contactInfo">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="homeAddress">Home Address</nz-form-label>
          <nz-form-control nzErrorTip="Enter patient home address">
            <input type="text" nz-input placeholder="Home Address" formControlName="homeAddress" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="workAddress">Work Address</nz-form-label>
          <nz-form-control nzErrorTip="Enter patient work address">
            <input type="text" nz-input placeholder="Work Address" formControlName="workAddress" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="cellPhoneNumber">Mobile Number</nz-form-label>
          <nz-form-control nzErrorTip="Enter a valid phone number">
            <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
              <ng-template #addOnBeforeTemplate>
                <nz-select formControlName="countryCode" class="phone-select" [nzLoading]="isLoadingCountryCodes|async">
                  <nz-option *ngFor="let code of countryCodes" [nzValue]="code" [nzLabel]="code"></nz-option>
                </nz-select>
              </ng-template>
              <input type="text" nz-input placeholder="Phone number eg. 505429933" formControlName="cellPhoneNumber" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="emailAddress">Email Address</nz-form-label>
          <nz-form-control nzErrorTip="Enter valid email">
            <input type="text" nz-input placeholder="Enter email address" formControlName="emailAddress" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="emergencyName">Emergency Name</nz-form-label>
          <nz-form-control nzErrorTip="Enter emergency name">
            <input type="text" nz-input placeholder="Enter emergency name" formControlName="emergencyName" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzXs]="6" nzRequired nzFor="emergencyRelationship">Emergency Relationship</nz-form-label>
          <nz-form-control nzErrorTip="Select emergency relationship">
            <nz-select formControlName="emergencyRelationship" nzAllowClear [nzLoading]="isLoadingRelationships|async"
              nzPlaceHolder="Emergency contact relationship to patient">
              <nz-option *ngFor="let relation of relationships" [nzValue]="relation.id" [nzLabel]="relation.name">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzXs]="6" nzRequired nzFor="emergencyPhoneNumber">Emergency Phone number</nz-form-label>
          <nz-form-control nzErrorTip="Enter emergency phone number">
            <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
              <ng-template #addOnBeforeTemplate>
                <nz-select formControlName="emergencyCountryCode" class="phone-select"
                  [nzLoading]="isLoadingCountryCodes|async">
                  <nz-option *ngFor="let code of countryCodes" [nzValue]="code" [nzLabel]="code"></nz-option>
                </nz-select>
              </ng-template>
              <input type="text" nz-input placeholder="Phone number eg. 505429933"
                formControlName="emergencyPhoneNumber" name="emergencyPhoneNumber" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div *ngIf="stepIndex === 3" formGroupName="nextOfKin">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Full Name</nz-form-label>
          <nz-form-control nzErrorTip="Enter a valid name">
            <input type="text" nz-input placeholder="Full name eg. James Anim" formControlName="name" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzXs]="6" nzRequired nzFor="relationship">Relationship</nz-form-label>
          <nz-form-control nzErrorTip="Select relationship">
            <nz-select formControlName="relationship" nzAllowClear [nzLoading]="isLoadingRelationships|async"
              nzPlaceHolder="Select relationship to patient">
              <nz-option *ngFor="let relation of relationships" [nzValue]="relation.id" [nzLabel]="relation.name">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="homeAddress">Home Address</nz-form-label>
          <nz-form-control nzErrorTip="Enter patient home address">
            <input type="text" nz-input placeholder="Home Address" formControlName="homeAddress" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="cellPhoneNumber">Mobile Number</nz-form-label>
          <nz-form-control nzErrorTip="Enter a valid phone number">
            <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
              <ng-template #addOnBeforeTemplate>
                <nz-select formControlName="countryCode" class="phone-select"
                  [nzLoading]=" isLoadingCountryCodes|async">
                  <nz-option *ngFor="let code of countryCodes" [nzValue]="code" [nzLabel]="code"></nz-option>
                </nz-select>
              </ng-template>
              <input type="text" nz-input placeholder="Phone number eg. 505429933" formControlName="cellPhoneNumber" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="emailAddress">Email Address</nz-form-label>
          <nz-form-control nzErrorTip="Enter valid email">
            <input type="text" nz-input placeholder="Enter email address" formControlName="emailAddress" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </form>
  </div>
</nz-card>
<div class="steps-action">
  <button nz-button nzType="default" (click)="pre()" *ngIf="stepIndex > 0">
    <span>Previous</span>
  </button>
  <button nz-button nzType="default" (click)="next()" *ngIf="stepIndex < finalStepIndex">
    <span>Next</span>
  </button>
  <button [nzLoading]="isCreatingPatient" nz-button nzType="primary" (click)="done()" *ngIf="stepIndex === finalStepIndex">
    <span>Done</span>
  </button>
</div>
