.avatar {
  width: 128px;
  height: 128px;
}
.upload-icon {
  font-size: 32px;
  color: #999;
}
.ant-upload-text {
  margin-top: 8px;
  color: #666;
}

.avatar-uploader {
  border: 1px solid red;
}

.steps-content {
  padding: 30px 10px;
}

nz-select {
  width: 350px;
}

nz-select.phone-select {
  width: 70px !important;
}

.ant-input {
  width: 350px;
}

nz-form-control {
  display: inline-block;
}

[nz-button] {
  margin-right: 10px;
}

.age-switch {
  margin-left: 10px;
}

.form-content {
  margin-top: 20px;
}

nz-select {
  min-width: 350px;
}

.ant-input {
  min-width: 350px;
}

nz-form-control {
  display: inline-block;
}
