<nz-row nzGutter="10">
  <nz-col nzSpan="24">
    <nz-card>
      <div class="m-t-25">
        <nz-table #basicTable [nzData]="roles" [nzLoading]="initLoading">
          <thead *ngIf="!initLoading">
            <tr>
              <th>Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data">
              <td>{{ data.name }} </td>
              <td>
                <!-- <a [routerLink]="['/user-management', 'profile']">Details</a>
                <nz-divider nzType="vertical"></nz-divider> -->
                <a (click)='showModalForAction(data,"ATTACH_MODULES","Attach Modules")'>Attach Modules</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a (click)='showModalForAction(data,"DETACH_MODULES","Detach Modules")'>Detach Modules</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a (click)='showModalForAction(data,"ATTACH_PERMISSIONS","Attach Permissions")'>Attach
                  Permissions</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a (click)='showModalForAction(data,"DETACH_PERMISSIONS","Detach Permissions")'>Detach
                  Permissions</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a (click)='showModalForAction(data,"ATTACH_COMPONENTS","Attach Components")'>Attach Components</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a (click)='showModalForAction(data,"DETACH_COMPONENTS","Detach Components")'>Detach Components</a>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </nz-card>
  </nz-col>
</nz-row>
<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()">


  <ng-template #modalContent>
    <nz-spin *ngIf='modalLoadingData|async' nzTip="Loading..."></nz-spin>
    <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="updatePostData($event)">
      <nz-row>
        <div *ngFor="let item of modalData" nz-col nzSpan="12"><label nz-checkbox
            [nzValue]='item.id'>{{item.name}}</label>
        </div>

      </nz-row>
    </nz-checkbox-wrapper>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">Save</button>
  </ng-template>
</nz-modal>
