<nz-row nzGutter="10">
  <nz-col nzSpan="24">
    <nz-card>
      <div class="m-t-25">
        <nz-table #basicTable [nzData]="roles" [nzLoading]="initLoading">
          <thead *ngIf="!initLoading">
            <tr>
              <th>Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data">
              <td>{{ data.name }}</td>
              <td>
                <!-- <a [routerLink]="['/user-management', 'profile']">Details</a>
                <nz-divider nzType="vertical"></nz-divider> -->
                <a>Attach Modules</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a>Detach Modules</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a>Attach Permissions</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a>Detach Permissions</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a>Attach Components</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a>Detach Components</a>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </nz-card>
  </nz-col>
</nz-row>
