<div class="steps-content">
  <form nz-form nzLayout="vertical" [formGroup]="requestForm">
    <div nz-row *ngIf="patient">
      <nz-descriptions nzBordered [nzColumn]="{ xxl: 4, xl: 3, lg: 3, md: 3, sm: 2, xs: 1 }">
        <nz-descriptions-item nzTitle="Folder #">
          {{patient.folder_no}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Name">
          {{patient.firstname}} {{patient.middlename}} {{patient.surname}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Gender">
          {{patient.gender}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Age">
          {{patient.age}} year(s)
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Patient Status">
          {{patient.reg_status}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Funding Type">
          {{patient.funding_type_name}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Sponsor">
          {{patient.sponsorship_type_name}}
        </nz-descriptions-item>

      </nz-descriptions>
    </div>
    <div nz-row [nzGutter]="24" *ngIf="!patient">
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="title">Folder #</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Enter valid folder number">
            <input type="text" nz-input placeholder="A0000001/20a" formControlName="folderNumber" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <nz-divider></nz-divider>
    <div nz-row [nzGutter]="24" *ngIf="searchInitialized && !isLoadingData">
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="clinic">Clinic</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Please select clinic">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Clinic" formControlName="clinic"
              [nzLoading]="clinicsloading | async">
              <nz-option *ngFor="let clinic of clinics" [nzLabel]="clinic.name" [nzValue]="clinic.id"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="5" nzOffset="7" *ngIf="isInsurance">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="ccc">CCC</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Enter valid CCC">
            <input type="text" nz-input placeholder="ccc" formControlName="ccc" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="6" [nzOffset]="isInsurance ? 0 : 12">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="attendanceDate">Attendance Date</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Select a valid date">
            <nz-date-picker [nzDisabledDate]="disabledDate" formControlName="attendanceDate"
              nzPlaceHolder="Select attendance date">
            </nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="24" *ngIf="searchInitialized && !isLoadingData">
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="consultationService">Consultation Service
          </nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Please select service">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Consultation Service"
              formControlName="consultationService" [nzLoading]="servicesLoading | async">
              <nz-option *ngFor="let service of services" [nzLabel]="service.service_name"
                [nzValue]="service.service_id">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="orderType">Order Type</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Please select order type">
            <nz-select [compareWith]="compareFn" nzShowSearch nzAllowClear nzPlaceHolder="Order type"
              formControlName="orderType">
              <nz-option nzLabel="INTERNAL" nzValue="INTERNAL"></nz-option>
              <nz-option nzLabel="EXTERNAL" nzValue="EXTERNAL"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="qty">Service fee</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Enter a valid quantity">
            <nz-input-number formControlName="fee" [nzMin]="0.1" [nzStep]="1" [nzFormatter]="formatFee"
              [nzParser]="parseFee">
            </nz-input-number>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="billed">Billed Sponsor</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Please select billed sponsor">
            <nz-select nzShowSearch nzAllowClear [compareWith]="compareFn" nzPlaceHolder="Billed sponsor"
              formControlName="billed">
              <nz-option *ngFor="let permit of sponsorPermits" [nzLabel]="permit.billing_sponsor_name"
                [nzValue]="permit.id"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="12" nzOffset="6" nzSm="24" *ngIf="!searchInitialized"><i nz-icon [nzType]="'info-circle'"
          class="m-r-5"></i> {{message}}
      </div>
    </div>

    <nz-skeleton [nzLoading]="isLoadingData && searchInitialized" [nzActive]="true">
    </nz-skeleton>
  </form>

  <div nz-row *ngIf="searchInitialized && !isLoadingData">
    <div nz-col nzOffset="7">
      <nz-button-group>
        <button nz-button nzType="danger" (click)="cancel()" [nzLoading]="requesting">Cancel</button>
        <button nz-button nzType="primary" (click)="done()" [nzLoading]="requesting">Done</button>
      </nz-button-group>
    </div>
  </div>
</div>