<nz-tabset nzTabPosition="top" [nzType]="'line'">
  <nz-tab nzTitle="Billing Cycle">
    <ng-template nz-tab>
      <app-billing-cycle-setup></app-billing-cycle-setup>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Billing System">
    <ng-template nz-tab>
      <app-billing-system-setup></app-billing-system-setup>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Funding Type">
    <ng-template nz-tab>
      <app-funding-type-setup></app-funding-type-setup>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Payment Channel">
    <ng-template nz-tab>
      <app-payment-channel-setup></app-payment-channel-setup>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Payment Style">
    <ng-template nz-tab>
      <app-payment-style-setup></app-payment-style-setup>
    </ng-template>
  </nz-tab>
</nz-tabset>
