<div class="row">
  <div class="col-md-6 col-lg-3">
    <div class="small-box bg-aqua">
      <div class="inner">
        <h3>27</h3>
        <p>Doctors</p>
      </div>
      <div class="icon"><i class="fa fa-user-md"></i></div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="small-box bg-green">
      <div class="inner">
        <h3>50</h3>
        <p>Nurses</p>
      </div>
      <div class="icon"><i class="fa fa-female"></i></div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="small-box bg-yellow">
      <div class="inner">
        <h3>12</h3>
        <p>Pharmacists</p>
      </div>
      <div class="icon"><i class="fa fa-medkit"></i></div>
    </div>
  </div>
  <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-red">
      <div class="inner">
        <h3>10</h3>
        <p>Laboratorists</p>
      </div>
      <div class="icon"><i class="fa fa-flask"></i></div>
    </div>
  </div>
  <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-purple">
      <div class="inner">
        <h3>3038</h3>
        <p>Patients</p>
      </div>
      <div class="icon"><i class="fa fa-users"></i></div>
    </div>
  </div>
  <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-indigo">
      <div class="inner">
        <h3>371</h3>
        <p>Medicines</p>
      </div>
      <div class="icon"><i class="fa fa-pills"></i></div>
    </div>
  </div>
  <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-blue">
      <div class="inner">
        <h3>135</h3>
        <p>Beds</p>
      </div>
      <div class="icon"><i class="fa fa-bed"></i></div>
    </div>
  </div>
  <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-teal">
      <div class="inner">
        <h3>3</h3>
        <p>Walk-In Patients</p>
      </div>
      <div class="icon"><i class="fa fa-user"></i></div>
    </div>
  </div>

</div>
