<div class="row">
  <div class="col-md-6 col-lg-3">
    <nz-card>
      <div class="media align-items-center">
        <nz-avatar
          [nzSize]="50"
          nzSrc="assets/images/others/doctor.png"
        ></nz-avatar>
        <div class="m-l-15">
          <h2 class="m-b-0">27</h2>
          <p class="m-b-0 text-muted">Docters</p>
        </div>
      </div>
    </nz-card>
  </div>
  <div class="col-md-6 col-lg-3">
    <nz-card>
      <div class="media align-items-center">
        <nz-avatar
          [nzSize]="50"
          nzSrc="assets/images/others/nurse.png"
        ></nz-avatar>
        <div class="m-l-15">
          <h2 class="m-b-0">50</h2>
          <p class="m-b-0 text-muted">Nurses</p>
        </div>
      </div>
    </nz-card>
  </div>
  <div class="col-md-6 col-lg-3">
    <nz-card>
      <div class="media align-items-center">
        <nz-avatar
          [nzSize]="50"
          nzSrc="assets/images/others/pharmacist.png"
        ></nz-avatar>
        <div class="m-l-15">
          <h2 class="m-b-0">12</h2>
          <p class="m-b-0 text-muted">Pharmacists</p>
        </div>
      </div>
    </nz-card>
  </div>
  <div class="col-md-6 col-lg-3">
    <nz-card>
      <div class="media align-items-center">
        <nz-avatar
          [nzSize]="50"
          nzSrc="assets/images/others/microscope.png"
        ></nz-avatar>
        <div class="m-l-15">
          <h2 class="m-b-0">10</h2>
          <p class="m-b-0 text-muted">Laboratorists</p>
        </div>
      </div>
    </nz-card>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-lg-3">
    <nz-card>
      <div class="media align-items-center">
        <nz-avatar
          [nzSize]="50"
          nzSrc="assets/images/others/patient.png"
        ></nz-avatar>
        <div class="m-l-15">
          <h2 class="m-b-0">3038</h2>
          <p class="m-b-0 text-muted">Patients</p>
        </div>
      </div>
    </nz-card>
  </div>
  <div class="col-md-6 col-lg-3">
    <nz-card>
      <div class="media align-items-center">
        <nz-avatar
          [nzSize]="50"
          nzSrc="assets/images/others/medicine.png"
        ></nz-avatar>
        <div class="m-l-15">
          <h2 class="m-b-0">371</h2>
          <p class="m-b-0 text-muted">Medicines</p>
        </div>
      </div>
    </nz-card>
  </div>
  <div class="col-md-6 col-lg-3">
    <nz-card>
      <div class="media align-items-center">
        <nz-avatar
          [nzSize]="50"
          nzSrc="assets/images/others/bed.png"
        ></nz-avatar>
        <div class="m-l-15">
          <h2 class="m-b-0">135</h2>
          <p class="m-b-0 text-muted">Beds</p>
        </div>
      </div>
    </nz-card>
  </div>
  <div class="col-md-6 col-lg-3">
    <nz-card>
      <div class="media align-items-center">
        <nz-avatar
          [nzSize]="50"
          nzSrc="assets/images/others/walk-in-patient.png"
        ></nz-avatar>
        <div class="m-l-15">
          <h2 class="m-b-0">3</h2>
          <p class="m-b-0 text-muted">Walk-In Patients</p>
        </div>
      </div>
    </nz-card>
  </div>
</div>
