nz-date-picker {
  width: 180px;
}

.close-button {
  color: red;
  font-size: 24px;
}

[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}

nz-form-item.signed-radio {
    display: block;
    width: 100px !important;
    margin-right: 20px;
}
