<nz-tabset nzTabPosition="top" [nzType]="'line'">
  <nz-tab nzTitle="Town">
    <app-town-setup></app-town-setup>
  </nz-tab>
  <nz-tab nzTitle="District">
    <app-district-setup></app-district-setup>
  </nz-tab>
  <nz-tab nzTitle="Religion">
    <app-religion-setup></app-religion-setup>
  </nz-tab>
  <nz-tab nzTitle="Relationship">
    <app-relationship-setup></app-relationship-setup>
  </nz-tab>
  <nz-tab nzTitle="Title">
    <app-title-setup></app-title-setup>
  </nz-tab>
  <nz-tab nzTitle="Educational Level">
    <app-education-level-setup></app-education-level-setup>
  </nz-tab>
  <nz-tab nzTitle="ID Type">
    <app-id-type-setup></app-id-type-setup>
  </nz-tab>
  <nz-tab nzTitle="Language">
    <app-language-setup></app-language-setup>
  </nz-tab>
</nz-tabset>
