<nz-row>
  <nz-col [nzSpan]="patient ? 24 : 16">
    <nz-card nz-row [nzLoading]="isLoadingData && searchInitialized">

      <nz-row [nzGutter]="24" *ngIf="!patient">
        <nz-form-item nz-col [nzSpan]="10">
          <nz-form-label nzRequired nzFor="title">Folder #</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Enter valid folder number">
            <input type="text" nz-input placeholder="A0000001/20a" [formControl]="folderNumb" />
          </nz-form-control>
        </nz-form-item>
      </nz-row>

      <nz-row nzJustify="center" nzType="flex" *ngIf="!searchInitialized">
        <div>
          <nz-divider></nz-divider>
          <i nz-icon [nzType]="'info-circle'" class="m-r-5"></i> {{ message }}
        </div>
      </nz-row>

      <div *ngIf="labRequest">
        <nz-descriptions nzSize="small" nzBordered [nzColumn]="{ xxl: 4, xl: 3, lg: 3, md: 3, sm: 2, xs: 1 }">
          <nz-descriptions-item nzTitle="Folder #">
            {{ patient.folder_no }}
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Name">
            {{ patient.firstname }} {{ patient.middlename }} {{ patient.surname }}
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Gender">
            {{ patient.gender }}
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Age">
            {{ labRequest.age }} year(s)
          </nz-descriptions-item>
          <nz-descriptions-item *ngIf="labRequest.billing_sponsor_name" nzTitle="Sponsor">
            {{ labRequest.sponsor_name }}
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Patient Status">
            {{ labRequest.patient_status }}
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Clinic">
            {{ labRequest.clinic_name }}
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Lab Requested">
            {{ labRequest.service_name }}
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Status">
            {{ labRequest.status }}
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Sample Code" *ngIf="sample">
            {{ sample.sample_code }}
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Attendance Date">
            {{ labRequest.consultation_date | date:'medium' }}
          </nz-descriptions-item>
        </nz-descriptions>

        <nz-divider></nz-divider>

        <div *ngIf="labRequest.status === 'IN-QUEUE'">
          <nz-row nzJustify="center" nzType="flex">
            <nz-form-item nz-col [nzSpan]="10">
              <nz-form-label nzRequired>Sample Type</nz-form-label>
              <nz-form-control nzErrorTip="Select sample type">
                <nz-select nz-col [nzSpan]="24" [formControl]="sampleTypeCtrl" nzPlaceHolder="Sample type for test"
                  [nzLoading]="isLoadingData">
                  <nz-option *ngFor="let type of sampleTypes" [nzLabel]="type.name" [nzValue]="type.id"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </nz-row>

          <nz-row nzJustify="center" nzType="flex">
            <nz-button-group>
              <button nz-button nzType="danger" (click)="cancel()" [nzLoading]="isCreatingSample">Cancel</button>
              <button nz-button nzType="primary" (click)="generateSample()" [disabled]="sampleTypeCtrl.invalid"
                [nzLoading]="isCreatingSample">Create Sample</button>
            </nz-button-group>
          </nz-row>
        </div>

        <nz-row nzJustify="center" nzType="flex" *ngIf="labRequest.status === 'SAMPLE-TAKEN' && labParams">
          <div *ngIf="labParams.length === 0">
            <i nz-icon [nzType]="'exclamation-circle'" class="m-r-5"></i> The lab requested has not been set up!
          </div>

          <form nz-form nz-col [nzSpan]="16" nzLayout="vertical" *ngIf="labParams.length > 0">
            <nz-row nzJustify="center" nzType="flex">
              <h4>Fill in test results</h4>
            </nz-row>
            <nz-form-item [nzGutter]="16" *ngFor="let row of labParams">
              <nz-form-control *ngFor="let param of row" [nzSpan]="24 / row.length">
                <nz-form-label> {{ param.name }} </nz-form-label>
                <input *ngIf="param.value_type !== 'Text'" nz-input [type]="param.value_type" [formControl]="param.form"
                  nz-popover [nzPopoverContent]="param.description" [placeholder]="param.name" />
                <nz-select *ngIf="param.value_type === 'Text'" [nzLoading]="param.loading" [formControl]="param.form"
                  nz-popover [nzPopoverContent]="param.description" nzAllowClear [nzPlaceHolder]="param.name">
                  <nz-option *ngFor="let flag of param.flags" [nzValue]="flag.text_value" [nzLabel]="flag.text_value">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>

            <nz-row nzJustify="center" nzType="flex">
              <nz-button-group>
                <button nz-button nzType="danger" (click)="cancel()" [nzLoading]="isLoadingData">Cancel</button>
                <button nz-button nzType="primary" (click)="done()" [disabled]="!resultFormValid()"
                  [nzLoading]="isLoadingData">Submit</button>
              </nz-button-group>
            </nz-row>
          </form>
        </nz-row>

        <nz-row nzJustify="center" nzType="flex" *ngIf="labRequest.status === 'RESULTS-TAKEN' && results">
          <nz-descriptions [nzTitle]="result.lab_parameter_name" *ngFor="let result of results">
            <nz-descriptions-item nzTitle="Test Value">{{ result.test_value }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Flag">{{ result.flag }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Technician">{{ result.technician_name }}</nz-descriptions-item>
          </nz-descriptions>
        </nz-row>
      </div>
    </nz-card>
  </nz-col>

  <nz-col *ngIf="!patient" [nzSpan]="8">
    <app-patient-queue *ngIf="today" [queuePath]="'/registry/attendance?attendance_date=' + today" action="Check Vital"
      (queueClick)="attendanceClick($event)"></app-patient-queue>
  </nz-col>
</nz-row>