<nz-card>
  <form nz-form nzLayout="vertical" [formGroup]="requestForm">
    <div nz-row *ngIf="patient">
      <nz-descriptions nzSize="small" nzBordered [nzColumn]="{ xxl: 4, xl: 3, lg: 3, md: 3, sm: 2, xs: 1 }">
        <nz-descriptions-item nzTitle="Folder #">
          {{patient.folder_no}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Name">
          {{patient.firstname}} {{patient.middlename}} {{patient.surname}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Gender">
          {{patient.gender}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Age">
          {{patient.age}} {{ageUnit}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Patient Status">
          {{patient.reg_status}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Funding Type">
          {{patient.funding_type_name}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Sponsor">
          {{patient.sponsorship_type_name}}
        </nz-descriptions-item>

      </nz-descriptions>
    </div>
    <div nz-row [nzGutter]="24" *ngIf="!patient">
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="title">Folder #</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Enter valid folder number">
            <input type="text" nz-input placeholder="A0000001/20a" formControlName="folderNumber" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <nz-divider></nz-divider>
    <div nz-row [nzGutter]="24" *ngIf="searchInitialized && !isLoadingData">
      <div nz-col [nzSpan]="12">
        <h3>Quick Transaction Details</h3>
        <div>
          <nz-row *ngIf="transactionDetails" [nzGutter]="16">
            <nz-col [nzSpan]="4">
              <nz-statistic
                [nzValue]="(billDueControl.value && billDueControl.valid)?billDueControl.value:'' | number: '1.2-2'"
                [nzTitle]="'Total Bill'">
              </nz-statistic>
            </nz-col>
            <nz-col [nzSpan]="4">
              <nz-statistic [nzValue]="transactionDetails.total_deposit_amount | number: '1.2-2'"
                [nzTitle]="'Total Deposit'">
              </nz-statistic>
            </nz-col>
            <nz-col [nzSpan]="4">
              <nz-statistic [nzValue]="transactionDetails.total_discount_amount | number: '1.2-2'"
                [nzTitle]="'Total Discount'">
              </nz-statistic>
            </nz-col>
            <nz-col [nzSpan]="4">
              <nz-statistic [nzValue]="'N/A'" [nzTitle]="'Abscond'"></nz-statistic>
            </nz-col>
            <nz-col [nzSpan]="4">
              <nz-statistic [nzValue]="transactionDetails.outstanding_bill | number: '1.2-2'"
                [nzTitle]="'Outstanding Bill'"></nz-statistic>
            </nz-col>

          </nz-row>

        </div>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-descriptions nzSize="small" nzBordered [nzColumn]="{ xxl: 1, xl: 1, lg: 1, md: 1, sm: 1, xs: 1 }">
          <nz-descriptions-item nzTitle="Receipt Number">
            Feb/02/000
          </nz-descriptions-item>
          <nz-descriptions-item *ngIf="transactionDetails" nzTitle="Bill Due">
            {{(totalBillControl.value && totalBillControl.valid)?totalBillControl.value:''}}
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Amount Received">
            <div class="editable-cell" *ngIf="editName !== 'amountRecieved'; else editTpl">
              <div class="editable-cell-value-wrap" (click)="startEdit('amountRecieved', $event)">
                <span>
                  {{ (amountRecievedFormControl.value != null && amountRecievedFormControl.valid) ? amountRecievedFormControl.value : '' }}
                </span>

              </div>
            </div>
            <ng-template #editTpl>
              <input nz-input [placeholder]="'eg: 10'" [type]="'number'" [formControl]="amountRecievedFormControl"
                appCustomAutoFocus />
            </ng-template>


          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Change">
            <div class="editable-cell" *ngIf="editName !== 'change'; else changeEditTpl">
              <div class="editable-cell-value-wrap" (click)="startEdit('change', $event)">
                <span>
                  {{ (changeFormControl.value != null && changeFormControl.valid) ? changeFormControl.value : '' }}
                </span>

              </div>
            </div>
            <ng-template #changeEditTpl>
              <input nz-input disabled="true" [type]="'number'" [formControl]="changeFormControl" />
            </ng-template>
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Payment Channel">
            <nz-select [formControl]="paymentChannelFormControl">
              <nz-option nzValue="Cash" nzLabel="Cash"></nz-option>
            </nz-select>
          </nz-descriptions-item>
        </nz-descriptions>

      </div>
    </div>
    <div class="mt-5" style="text-align: center;" *ngIf="searchInitialized && !isLoadingData">
      <h2>Bill Details (Service and Medicine Payment Transaction)</h2>
    </div>

    <div nz-row [nzGutter]="24" *ngIf="searchInitialized && !isLoadingData">
      <nz-table #basicTable nzBordered [nzData]="services" [nzLoading]="serviceOrdersLoading">
        <thead>
          <tr>
            <th nzWidth="60px" [nzShowCheckbox]="true" [(nzChecked)]="allChecked" [nzLeft]="true"
              (nzCheckedChange)="checkAll($event)"></th>
            <th>Date</th>
            <th>Description</th>
            <th>Unit Fee</th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>Category</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td [nzLeft]="true" [nzShowCheckbox]="true" [(nzChecked)]="data.checked"
              (nzCheckedChange)="refreshStatus()"></td>
            <td>2020/04/05</td>
            <td>{{data.description}}</td>
            <td>{{data.unit_fee}}</td>
            <td>{{data.total_quantity}}</td>
            <td>{{data.amount}}</td>
            <td>{{data.service_type}}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <div nz-row>
      <div nz-col nzSpan="12" nzOffset="6" nzSm="24" *ngIf="!searchInitialized"><i nz-icon [nzType]="'info-circle'"
          class="m-r-5"></i> {{message}}
      </div>
    </div>
    <nz-skeleton [nzLoading]="isLoadingData && searchInitialized" [nzActive]="true">
    </nz-skeleton>
  </form>

  <nz-row nzType="flex" nzJustify="center" *ngIf="searchInitialized && !isLoadingData">
    <nz-col>
      <nz-button-group>
        <button nz-button nzType="danger" (click)="cancel()" [nzLoading]="requesting">Cancel</button>
        <button nz-button nzType="primary" (click)="done()" [nzLoading]="requesting">Done</button>
      </nz-button-group>
    </nz-col>
  </nz-row>
</nz-card>
