<div class="container">
  <nz-card *ngIf="user">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="d-md-flex align-items-center">
          <div class="text-center text-sm-left ">
            <nz-avatar nzIcon="user" [nzSize]="120" style="background-color:#3c3ec2;"></nz-avatar>
          </div>
          <div class="text-center text-sm-left m-v-15 p-l-30">
            <h2 class="m-b-5">{{user.title}} {{user.firstname}}{{user.middlename?" "+user.middlename:""}}
              {{user.surname}}</h2>
            <p class="text-opacity font-size-13">{{user.username}}</p>
            <p class="text-dark m-b-20">{{user.profession_name}}</p>
            <button nz-button nzType="primary" nzGhost class="m-r-5">
              Edit
            </button>
            <button nz-button nzType="primary" nzGhost>Block</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="d-md-block d-none border-left col-1"></div>
          <div class="col">
            <ul class="list-unstyled m-t-10">
              <li class="row">
                <p class="col-sm-3 col-4 font-weight-semibold text-dark m-b-5">
                  <i class="m-r-10 text-primary" nz-icon nzType="mail" theme="outline"></i>
                  <span>Email: </span>
                </p>
                <p class="col font-weight-semibold">{{user.email}}</p>
              </li>
              <li class="row">
                <p class="col-sm-3 col-4 font-weight-semibold text-dark m-b-5">
                  <i class="m-r-10 text-primary" nz-icon nzType="phone" theme="outline"></i>
                  <span>Phone 1: </span>
                </p>
                <p class="col font-weight-semibold">{{user.active_cell}}</p>
              </li>
              <li class="row">
                <p class="col-sm-3 col-4 font-weight-semibold text-dark m-b-5">
                  <i class="m-r-10 text-primary" nz-icon nzType="phone" theme="outline"></i>
                  <span>Phone 2: </span>
                </p>
                <p class="col font-weight-semibold">{{user.alternate_cell?user.alternate_cell:"N/A"}}</p>
              </li>
              <li class="row">
                <p class="col-sm-3 col-5 font-weight-semibold text-dark m-b-5">
                  <i class="m-r-10 text-primary" nz-icon nzType="compass" theme="outline"></i>
                  <span>Location: </span>
                </p>
                <p class="col font-weight-semibold">{{user.region_name+" - "+user.country_name}}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nz-card>
  <div class="row">
    <div class="col-md-6">
      <nz-card>
        <h5>Employment Type</h5>
        <p>Permanent</p>
        <hr />
        <h5>Expires</h5>
        <p>Yes</p>
        <hr />
        <h5>Expiry Date</h5>
        <p>27th February, 2025</p>

        <hr />
      </nz-card>
    </div>
    <div class="col-md-6">
      <nz-card *ngIf="user">
        <h5>Staff ID</h5>
        <p>{{user.staff_id}}</p>
        <hr />
        <h5>Department</h5>
        <p>{{user.department_name}}</p>
        <hr />
      </nz-card>
    </div>
  </div>
</div>
