<nz-row>
  <nz-col [nzSpan]="patient ? 24 : 16">
    <nz-card nz-row *ngIf="patient">

      <nz-collapse nzAccordion>
        <nz-collapse-panel *ngFor="let panel of panels" [nzHeader]="panel.name" [nzActive]="panel.active">
          <div *ngIf="panel.name === 'Vitals'; then vitalDetails else patientDetals">here is ignored</div>
        </nz-collapse-panel>
      </nz-collapse>
    </nz-card>

    <nz-card>
      <div nz-row [nzGutter]="24" *ngIf="!patient">
        <nz-form-item nz-col [nzSpan]="6">
          <nz-form-label nzRequired nzFor="title">Folder #</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Enter valid folder number">
            <input type="text" nz-input placeholder="A0000001/20a" [formControl]="folderNumb" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- consultation steps -->
      <nz-steps *ngIf="patient" nzSize="small" [nzProgressDot]="progressTemplate" [nzCurrent]="stepIndex">
        <nz-step nzTitle="PATIENT HISTORY"></nz-step>
        <nz-step nzTitle="PHYSICAL EXAMINATION"></nz-step>
        <nz-step nzTitle="DIAGNOSIS"></nz-step>
        <nz-step nzTitle="INVESTIGATION"></nz-step>
        <nz-step nzTitle="PRESCRIPTION"></nz-step>
        <nz-step nzTitle="PROCEDURE"></nz-step>
        <nz-step nzTitle="CLINICAL NOTES"></nz-step>
      </nz-steps>

      <ng-template #progressTemplate let-dot let-status="status" let-index="index">
        <span nz-popover nzContent="steps {{ index }} status: {{ status }}" style="margin-left: -100%;">
          <ng-template [ngTemplateOutlet]="dot"></ng-template>
        </span>
      </ng-template>

      <div *ngIf="patient" class="steps-content">
        <nz-row nzType="flex" nzJustify="center">
          <nz-col>
            <nz-button-group>
              <button *ngIf="stepIndex === 0" nz-button nzType="danger" (click)="cancel()"
                [nzLoading]="submiting">Cancel</button>
              <button *ngIf="stepIndex > 0" nz-button (click)="previous()" [nzLoading]="submiting">Previous</button>

              <button *ngIf="stepIndex < stepsCount" nz-button (click)="next()" [nzLoading]="submiting">Next</button>
              <button *ngIf="stepIndex === stepsCount" nz-button nzType="primary" (click)="done()"
                [nzLoading]="submiting">Done</button>
            </nz-button-group>
          </nz-col>
        </nz-row>
      </div>
      <!-- <nz-table *ngIf="patient" nzTemplateMode nzBordered nzSize="small">
        <thead>
          <tr>
            <th nzWidth="34%">Vital</th>
            <th nzWidth="33%">Value</th>
            <th nzWidth="33%">Flag</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vital of vitals" class="editable-row">
            <td>
              {{vital.name}}
            </td>
            <td>
              <div class="editable-cell" *ngIf="editName !== vital.name; else editTpl">
                <div class="editable-cell-value-wrap" (click)="startEdit(vital.name, $event)">
                  <span *ngIf="vital.name !== 'BMI'">
                    {{ (vital.form.value != null && vital.form.valid) ? vital.form.value + ' ' + vital.unit : 'Click to enter value' }}
                  </span>
                  <span *ngIf="vital.name === 'BMI'">
                    {{ (vital.form.value) ? vital.form.value + ' ' + vital.unit : 'Enter valid height and weight to evaluate' }}
                  </span>
                </div>
              </div>
              <ng-template #editTpl>
                <input nz-input [placeholder]="(vital.name === 'Blood Pressure' ? 'eg: 70/109': 'eg: 10')"
                  [type]="(vital.name === 'Blood Pressure') ? 'text': 'number'" [formControl]="vital.form" />
              </ng-template>
            </td>

            <td>{{ vital.flag }}</td>
          </tr>
          <tr>
            <td [attr.colspan]="3">
              <nz-form-control>
                <textarea [formControl]="commentControl" nz-input placeholder="Extra comments"></textarea>
              </nz-form-control>
            </td>
          </tr>

          <tr>
            <td [attr.colspan]="3">
              <nz-row nzJustify="center" nzType="flex">
                <nz-col>
                  <nz-button-group>
                    <button nz-button nzType="danger" (click)="cancel()" [nzLoading]="submiting">Cancel</button>
                    <button nz-button nzType="primary" (click)="done()"
                      [nzLoading]="submiting">Done</button>
                  </nz-button-group>
                </nz-col>
              </nz-row>
            </td>
          </tr>

        </tbody>
      </nz-table> -->

      <nz-divider></nz-divider>
      <div nz-row>
        <div nz-col nzSpan="12" nzOffset="6" nzSm="24" *ngIf="!searchInitialized"><i nz-icon [nzType]="'info-circle'"
            class="m-r-5"></i> {{message}}
        </div>
      </div>

      <nz-row>
        <nz-skeleton [nzLoading]="isLoadingData && searchInitialized" [nzActive]="true">
        </nz-skeleton>
      </nz-row>

    </nz-card>
  </nz-col>

  <nz-col *ngIf="!patient" [nzSpan]="8">
    <app-patient-queue *ngIf="today" [queuePath]="'/registry/attendance?attendance_date=' + today" action="Consult"
      (queueClick)="attendanceClick($event)"></app-patient-queue>
  </nz-col>
</nz-row>

<ng-template #vitalDetails>
  <nz-descriptions *ngIf="vitals" nzSize="small" nzBordered>
    <nz-descriptions-item *ngFor="let key of vitalKeys" [nzTitle]="key.name">
      <span *ngIf="vitals[key.apiName] && vitals[key.apiName].value">
        {{ vitals[key.apiName].value }}
        {{ vitals[key.apiName].unit }}</span>
      <span *ngIf="!vitals[key.apiName] || !vitals[key.apiName].value"> N/A </span>
    </nz-descriptions-item>
  </nz-descriptions>

  <nz-comment nzAuthor="Nurse Comments" *ngIf="vitals && vitals.comment">
    <nz-comment-content>
      <p>
        {{ vitals.comment }}
      </p>
    </nz-comment-content>
  </nz-comment>
</ng-template>

<ng-template #patientDetals>
  <nz-descriptions nzSize="small" nzBordered [nzColumn]="{ xxl: 4, xl: 3, lg: 3, md: 3, sm: 2, xs: 1 }">
    <nz-descriptions-item nzTitle="Folder #">
      {{patient.folder_no}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Name">
      {{patient.firstname}} {{patient.middlename}} {{patient.surname}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Gender">
      {{patient.gender}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Age">
      {{patient.age}} year(s)
    </nz-descriptions-item>
    <nz-descriptions-item *ngIf="attendance" nzTitle="Funding Type">
      {{attendance.funding_type}}
    </nz-descriptions-item>
    <nz-descriptions-item *ngIf="attendance" nzTitle="Patient Status">
      {{attendance.patient_status}}
    </nz-descriptions-item>
    <nz-descriptions-item *ngIf="attendance" nzTitle="Clinic">
      {{attendance.clinic_name}}
    </nz-descriptions-item>
    <nz-descriptions-item *ngIf="attendance" nzTitle="Attendance Date">
      {{attendance.attendance_date | date}}
    </nz-descriptions-item>
  </nz-descriptions>
</ng-template>