<div>
  <nz-card>
    <div nz-row>
      <div nz-col nzXs="3" nzOffset="1">
        <i nz-icon nzType="folder-open" class="folder-icon" nzTheme="twotone"></i>
      </div>
      <div nz-col nzXs="19" *ngIf="folderDetails$ | async as folder;">
        <nz-descriptions nzBordered nzSize="4">
          <nz-descriptions-item nzTitle="Folder Number" nzSpan="2">
            {{folder.data.folder_no}}
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Folder Type" nzSpan="1">
            {{folder.data.folder_type | titlecase}}
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Created On" nzSpan="2">
            {{folder.data.created_at | date: 'medium'}}
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Status" nzSpan="1">
            {{folder.data.status |  titlecase}}
          </nz-descriptions-item>
        </nz-descriptions>
      </div>
    </div>
  </nz-card>
  <nz-card>
    <div nz-row>
      <div nz-col nzMd="4" nzOffset="20">
        <button nz-button nzType="primary" nzSize="default" class="button--left button">
          <i nz-icon nzType="user-add"></i> Add Patient
        </button>
      </div>
    </div>
    <div nz-row>
      <nz-collapse [nzBordered]="false">
        <nz-collapse-panel *ngFor="let patient of folderPatients" [nzHeader]="patient" [nzActive]="true">
          <p>{{ patient }} content</p>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
  </nz-card>
</div>
