<nz-card>
  <div class="m-t-25">
    <nz-table #basicTable [nzData]="users" [nzLoading]="loading" [nzPageIndex]="pageIndex" [nzShowPagination]="false">
      <thead *ngIf="!loading">
        <tr>
          <th>Staff ID</th>
          <th>Name</th>
          <th>Profession</th>
          <th>department</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.staff_id }}</td>
          <td>{{ data.title }} {{data.firstname}} {{data.surname}}</td>
          <td>{{ data.profession_name }}</td>
          <td>{{ data.department_name }}</td>
          <td>
            <a [routerLink]="['/user-management', 'profile',data.id]">Details</a>

            <nz-divider nzType="vertical"></nz-divider>
            <a>Block</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <div style="text-align: right;" class="m-t-10">
      <nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="totalItems" (nzPageIndexChange)="getPage($event)"
        [nzPageSize]="pageSize"></nz-pagination>
    </div>


  </div>
</nz-card>
