<nz-tabset nzTabPosition="top" [nzType]="'line'">
  <nz-tab nzTitle="Hospital">
    <app-hospital-service-setup></app-hospital-service-setup>
  </nz-tab>
  <nz-tab nzTitle="Service">
    <app-hospital-service-setup></app-hospital-service-setup>
  </nz-tab>
  <nz-tab nzTitle="Service Category">
    <app-service-category-setup></app-service-category-setup>
  </nz-tab>
  <nz-tab nzTitle="Service Sub Category">
    <app-service-subcategory-setup></app-service-subcategory-setup>
  </nz-tab>
  <nz-tab nzTitle="Services and pricing">
    <app-service-pricing-setup></app-service-pricing-setup>
  </nz-tab>
  <nz-tab nzTitle="Educational Level">
    <app-education-level-setup></app-education-level-setup>
  </nz-tab>
  <nz-tab nzTitle="Sponsor Policy">
    <app-sponsor-policy-setup></app-sponsor-policy-setup>
  </nz-tab>
</nz-tabset>
