<nz-tabset nzTabPosition="top" [nzType]="'line'">
  <nz-tab nzTitle="Product Type and Category">
    <ng-template nz-tab>
      <app-product-type-and-category></app-product-type-and-category>
    </ng-template>
  </nz-tab>

  <nz-tab nzTitle="Product Form and Unit">
    <ng-template nz-tab>
      <app-product-form-and-unit></app-product-form-and-unit>
    </ng-template>
  </nz-tab>

  <nz-tab nzTitle="Medicine Routes">
    <ng-template nz-tab>
      <app-medicine-routes></app-medicine-routes>
    </ng-template>
  </nz-tab>
</nz-tabset>