<nz-tabset nzTabPosition="top" [nzType]="'line'">
  <nz-tab nzTitle="Age Group">
    <app-age-group-setup></app-age-group-setup>
  </nz-tab>
  <nz-tab nzTitle="Profession">
    <app-profession-setup></app-profession-setup>
  </nz-tab>
  <nz-tab nzTitle="Medical Sponsors">
    <app-medical-sponsor-setup></app-medical-sponsor-setup>
  </nz-tab>
  <nz-tab nzTitle="Banks">
    <app-bank-setup></app-bank-setup>
  </nz-tab>
  <nz-tab nzTitle="Bank Branches">
    <app-bank-branches-setup></app-bank-branches-setup>
  </nz-tab>
  <nz-tab nzTitle="Clinics">
    <app-clinic></app-clinic>
  </nz-tab>
  <nz-tab nzTitle="Clinic Types">
    <app-clinic-type-setup></app-clinic-type-setup>
  </nz-tab>
</nz-tabset>
