<nz-tabset nzTabPosition="top" [nzType]="'line'">
  <nz-tab nzTitle="Age Group">
    <ng-template nz-tab>
      <app-age-group-setup></app-age-group-setup>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Profession">
    <ng-template nz-tab>
      <app-profession-setup></app-profession-setup>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Medical Sponsors">
    <ng-template nz-tab>
      <app-medical-sponsor-setup></app-medical-sponsor-setup>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Banks">
    <ng-template nz-tab>
      <app-bank-setup></app-bank-setup>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Bank Branches">
    <ng-template nz-tab>
      <app-bank-branches-setup></app-bank-branches-setup>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Clinics">
    <ng-template nz-tab>
      <app-clinic></app-clinic>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Clinic Types">
    <ng-template nz-tab>
      <app-clinic-type-setup></app-clinic-type-setup>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Clinic Service">
   <ng-template nz-tab>
    <app-clinic-service-setup></app-clinic-service-setup>
   </ng-template>
  </nz-tab>
</nz-tabset>


