<nz-tabset nzTabPosition="top" [nzType]="'line'">
  <nz-tab nzTitle="Age Group">
    <ng-template nz-tab>
      <app-age-group-setup></app-age-group-setup>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Age Classification">
    <ng-template nz-tab>
      <app-age-classification-setup></app-age-classification-setup>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Age Category">
    <ng-template nz-tab>
      <app-age-category-setup></app-age-category-setup>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Profession">
    <ng-template nz-tab>
      <app-profession-setup></app-profession-setup>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Medical Sponsors">
    <ng-template nz-tab>
      <app-medical-sponsor-setup></app-medical-sponsor-setup>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Banks">
    <ng-template nz-tab>
      <app-bank-setup></app-bank-setup>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Bank Branches">
    <ng-template nz-tab>
      <app-bank-branches-setup></app-bank-branches-setup>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Clinics">
    <ng-template nz-tab>
      <app-clinic></app-clinic>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Clinic Types">
    <ng-template nz-tab>
      <app-clinic-type-setup></app-clinic-type-setup>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Clinic Service">
    <ng-template nz-tab>
      <app-clinic-service-setup></app-clinic-service-setup>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Accreditations">
    <ng-template nz-tab>
      <app-accreditation-setup></app-accreditation-setup>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Companies">
    <ng-template nz-tab>
      <app-company-setup></app-company-setup>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Departments">
    <ng-template nz-tab>
      <app-department-setup></app-department-setup>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Districts">
    <ng-template nz-tab>
      <app-district-setup></app-district-setup>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Specialties">
    <ng-template nz-tab>
      <app-speciality-setup></app-speciality-setup>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Sponsorship Types">
    <ng-template nz-tab>
      <app-sponsership-type-setup></app-sponsership-type-setup>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Staff Categories">
    <ng-template nz-tab>
      <app-staff-category-setup></app-staff-category-setup>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Staff Types">
    <ng-template nz-tab>
      <app-staff-type-setup></app-staff-type-setup>
    </ng-template>
  </nz-tab>
</nz-tabset>
