<nz-row nzGutter="16">
  <nz-card nz-col nzSpan="12" nzTitle="Product Form Units" [nzExtra]="addTypeTemplate">
    <ng-template #addTypeTemplate>
      <button nz-button nzType="primary" (click)="showUnitModal()">Add</button>
    </ng-template>
    <nz-list style="min-height: 350px;" [nzDataSource]="productUnits" [nzItemLayout]="'horizontal'"
      [nzLoading]="isUnitsLoading" [nzRenderItem]="type">
      <ng-template #type let-type>
        <nz-list-item [nzActions]="[editType,removeType,toggleType]">
          <ng-template #editType><a (click)="showUnitModal(type)">edit</a></ng-template>
          <ng-template #removeType>
            <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this?" nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="deleteUnit(type)"><i nz-icon nzType="delete" nzTheme="fill"
                style="color:red;font-size: 16px;"></i></a>
          </ng-template>
          <ng-template #toggleType>
            <nz-switch [(ngModel)]="type.isActivated" (ngModelChange)="toggleItem($event, type, true)"></nz-switch>
          </ng-template>
          <nz-list-item-meta [nzTitle]="nzTitle">
            <ng-template #nzTitle>
              <a>{{ type.name }}</a>
            </ng-template>
          </nz-list-item-meta>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </nz-card>

  <nz-card nz-col nzSpan="12" nzTitle="Product Forms" [nzExtra]="addCatTemplate">
    <ng-template #addCatTemplate>
      <button nz-button nzType="primary" (click)="showFormModal()">Add</button>
    </ng-template>
    <nz-list style="min-height: 350px;" [nzDataSource]="productForms" [nzItemLayout]="'horizontal'"
      [nzLoading]="isFormsLoading" [nzRenderItem]="category">
      <ng-template #category let-category>
        <nz-list-item [nzActions]="[edit,delete, toggleCat]">
          <ng-template #edit><a (click)="showFormModal(category)">edit</a></ng-template>
          <ng-template #delete>
            <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this?" nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="deleteForm(category)"><i nz-icon nzType="delete" nzTheme="fill"
                style="color:red;font-size: 16px;"></i></a>
          </ng-template>
          <ng-template #toggleCat>
            <nz-switch [(ngModel)]="category.isActivated" (ngModelChange)="toggleItem($event, category)"></nz-switch>
          </ng-template>
          <nz-list-item-meta [nzTitle]="nzTitle" [nzDescription]="description">
            <ng-template #nzTitle>
              <a>{{ category.name }}</a>
            </ng-template>
            <ng-template #description>
              <a>{{ category.product_category_name }}</a>
            </ng-template>
          </nz-list-item-meta>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </nz-card>
</nz-row>

<nz-modal [nzVisible]="isUnitModalVisible" (nzOnCancel)="closeUnitModal()" [nzFooter]="typeFooter"
  [nzTitle]="isEditingUnit ? 'Update' : 'Create'">
  <ng-template #typeFooter>
    <nz-row nzType="flex" nzJustify="center">
      <nz-button-group>
        <button nz-button nzType="danger" type="reset" [nzLoading]="isCreatingUnit"
          (click)="resetUnit()">Cancel</button>
        <button nz-button nzType="primary" type="submit" [nzLoading]="isCreatingUnit" [disabled]="unitForm.invalid"
          (click)="submitUnit()">Submit</button>
      </nz-button-group>
    </nz-row>
  </ng-template>

  <form nz-form [formGroup]="unitForm" (ngSubmit)="submitUnit()" (reset)="resetUnit()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Enter a valid value">
        <nz-form-label>Unit Name</nz-form-label>
        <input nz-input type="text" formControlName="name" />
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>

<nz-modal [nzVisible]="isFormModalVisible" (nzOnCancel)="closeFormModal()" [nzFooter]="modalFooter"
  [nzTitle]="isEditingForm ? 'Update' : 'Create'">
  <ng-template #modalFooter>
    <nz-row nzType="flex" nzJustify="center">
      <nz-button-group>
        <button nz-button nzType="danger" type="reset" [nzLoading]="isCreatingForm"
          (click)="resetForm()">Cancel</button>
        <button nz-button nzType="primary" type="submit" [nzLoading]="isCreatingForm"
          [disabled]="productFormForm.invalid" (click)="submitForm()">Submit</button>
      </nz-button-group>
    </nz-row>
  </ng-template>

  <form nz-form [formGroup]="productFormForm" (ngSubmit)="submitForm()" (reset)="resetForm()">
    <nz-form-item nzGutter="16">
      <nz-form-control nzSpan="12" nzErrorTip="Enter a valid value">
        <nz-form-label>Product Form Name</nz-form-label>
        <input nz-input type="text" formControlName="name" />
      </nz-form-control>

      <nz-form-control nzSpan="12" nzErrorTip="Enter a valid value">
        <nz-form-label>Product Category</nz-form-label>
        <nz-select formControlName="product_category_id" [nzLoading]="isCatLoading">
          <nz-option *ngFor="let cat of categories" [nzValue]="cat.id" [nzLabel]="cat.name"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>