<nz-tabset nzTabPosition="top" [nzType]="'line'">
  <nz-tab nzTitle="Lab Parameters">
    <ng-template nz-tab>
      <app-lab-parameters></app-lab-parameters>
    </ng-template>
  </nz-tab>
  
  <nz-tab nzTitle="Lab Service Parameter Map">
    <ng-template nz-tab>
      <app-parameter-service-map></app-parameter-service-map>
    </ng-template>
  </nz-tab>
  
  <nz-tab nzTitle="Sample Types">
    <ng-template nz-tab>
      <app-lab-sample-types></app-lab-sample-types>
    </ng-template>
  </nz-tab>
</nz-tabset>
