<div nz-row nzGutter="10">
  <nz-col nzSpan="12">
    <nz-card>
      <nz-list style="min-height: 350px;" [nzDataSource]="ageGroups" [nzItemLayout]="'horizontal'"
        [nzLoading]="initLoading" [nzRenderItem]="item">
        <ng-template #item let-item>
          <nz-list-item [nzActions]="item.loading ? [] : [deleteAction,editAction, moreAction]">
            <nz-skeleton [nzActive]="true" [nzTitle]="false" [nzLoading]="item.loading">
              <ng-template #editAction><a (click)="showModal(item)">edit</a></ng-template>
              <ng-template #deleteAction>
                <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this?" nzPopconfirmPlacement="bottom"
                  (nzOnConfirm)="deleteAgeGroup(item)"><i nz-icon nzType="delete" nzTheme="fill"
                    style="color:red;font-size: 16px;"></i></a>
              </ng-template>
              <ng-template #moreAction>
                <nz-switch [(ngModel)]="item.isActivated" (ngModelChange)="toggleItem($event, item)"></nz-switch>
              </ng-template>
              <nz-list-item-meta [nzTitle]="nzTitle">
                <ng-template #nzTitle>
                  <a href="#">{{ item.name }}</a>
                </ng-template>
              </nz-list-item-meta>
            </nz-skeleton>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </nz-card>
    <nz-modal [(nzVisible)]="isVisible" (nzOnCancel)="closeModal()" [nzTitle]="modalTitle" [nzContent]="modalContent"
      [nzFooter]="modalFooter">
      <ng-template #modalTitle>
        Update Age Group
      </ng-template>

      <ng-template #modalContent>
        <form [formGroup]="updateForm">
          <nz-alert *ngIf="modalError" nzType="error" [nzMessage]="modalError" class="m-b-10" nzShowIcon>
          </nz-alert>
          <nz-row>
            <nz-form-item>
              <nz-form-label [nzXs]="8" nzRequired nzFor="name">Name</nz-form-label>
              <nz-form-control [nzSpan]="16">
                <input type="text" nz-input formControlName="name" name="name" placeholder="Input Name" />
              </nz-form-control>
            </nz-form-item>
          </nz-row>

          <nz-row>
            <nz-form-item nz-col [nzSpan]="12">
              <nz-form-control nzErrorTip="Invalid age">
                <nz-form-label>Min Age</nz-form-label>
                <input type="number" nz-input formControlName="min_age" name="minAge" placeholder="Input minimum age" />
              </nz-form-control>
            </nz-form-item>

            <nz-form-item nz-col [nzSpan]="12">
              <nz-form-control>
                <nz-form-label>Min Age Unit</nz-form-label>
                <nz-select formControlName="min_age_unit">
                  <nz-option nzValue="DAYS" nzLabel="Days"></nz-option>
                  <nz-option nzValue="WEEKS" nzLabel="Weeks"></nz-option>
                  <nz-option nzValue="MONTHS" nzLabel="Months"></nz-option>
                  <nz-option nzValue="YEARS" nzLabel="Years"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </nz-row>

          <nz-row>
            <nz-form-item nz-col [nzSpan]="12">
              <nz-form-control nzErrorTip="Invalid age">
                <nz-form-label>Max Age</nz-form-label>
                <input type="number" nz-input formControlName="max_age" name="maxAge" placeholder="Input maximum age" />
              </nz-form-control>
            </nz-form-item>

            <nz-form-item nz-col [nzSpan]="12">
              <nz-form-control>
                <nz-form-label>Max Age Unit</nz-form-label>
                <nz-select formControlName="max_age_unit">
                  <nz-option nzValue="DAYS" nzLabel="Days"></nz-option>
                  <nz-option nzValue="WEEKS" nzLabel="Weeks"></nz-option>
                  <nz-option nzValue="MONTHS" nzLabel="Months"></nz-option>
                  <nz-option nzValue="YEARS" nzLabel="Years"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </nz-row>
        </form>
      </ng-template>

      <ng-template #modalFooter>
        <button nz-button (click)="closeModal()">Cancel</button>
        <button nz-button nzType="primary" (click)="update()" [nzLoading]="isUpdatingAgeGroup|async">Save</button>
      </ng-template>
    </nz-modal>
  </nz-col>
  <nz-col nzSpan="8">
    <nz-card>
      <h5>Create Age Group</h5>
      <form nz-form [nzLayout]="'horizontal'" [formGroup]="ageGroupForm" (ngSubmit)="submitForm()">
        <nz-row class="m-b-10">
          <nz-form-control [nzSpan]="24">
            <input type="text" nz-input formControlName="name" name="name" placeholder="Input age group name" />
          </nz-form-control>
        </nz-row>

        <nz-row>
          <nz-form-item nz-col [nzSpan]="12">
            <nz-form-control nzErrorTip="Invalid age">
              <nz-form-label>Min Age</nz-form-label>
              <input type="number" nz-input formControlName="min_age" name="minAge" placeholder="Input minimum age" />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item nz-col [nzSpan]="12">
            <nz-form-control>
              <nz-form-label>Min Age Unit</nz-form-label>
              <nz-select formControlName="min_age_unit">
                <nz-option nzValue="DAYS" nzLabel="Days"></nz-option>
                <nz-option nzValue="WEEKS" nzLabel="Weeks"></nz-option>
                <nz-option nzValue="MONTHS" nzLabel="Months"></nz-option>
                <nz-option nzValue="YEARS" nzLabel="Years"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </nz-row>

        <nz-row>
          <nz-form-item nz-col [nzSpan]="12">
            <nz-form-control nzErrorTip="Invalid age">
              <nz-form-label>Max Age</nz-form-label>
              <input type="number" nz-input formControlName="max_age" name="maxAge" placeholder="Input maximum age" />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item nz-col [nzSpan]="12">
            <nz-form-control>
              <nz-form-label>Max Age Unit</nz-form-label>
              <nz-select formControlName="max_age_unit">
                <nz-option nzValue="DAYS" nzLabel="Days"></nz-option>
                <nz-option nzValue="WEEKS" nzLabel="Weeks"></nz-option>
                <nz-option nzValue="MONTHS" nzLabel="Months"></nz-option>
                <nz-option nzValue="YEARS" nzLabel="Years"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </nz-row>

        <nz-row>
          <nz-form-control nzSpan="24" style="text-align: right;" class="m-t-10">
            <button nz-button nzType="primary" type="submit" [nzLoading]="isCreatingAgeGroup | async">
              Submit
            </button>
          </nz-form-control>
        </nz-row>
      </form>
    </nz-card>
  </nz-col>
</div>