<div nz-row nzGutter="10">
  <nz-col nzSpan="12">
    <nz-card>
      <nz-list style="min-height: 350px;" [nzDataSource]="ageGroups" [nzItemLayout]="'horizontal'"
        [nzLoading]="initLoading" [nzRenderItem]="item">
        <ng-template #item let-item>
          <nz-list-item [nzActions]="item.loading ? [] : [editAction, moreAction]">
            <nz-skeleton [nzActive]="true" [nzTitle]="false" [nzLoading]="item.loading">
              <ng-template #editAction><a>edit</a></ng-template>
              <ng-template #moreAction>
                <nz-switch [(ngModel)]="item.isActivated" (ngModelChange)="toggleItem($event, item)"></nz-switch>
              </ng-template>
              <nz-list-item-meta [nzTitle]="nzTitle">
                <ng-template #nzTitle>
                  <a href="#">{{ item.name }}</a>
                </ng-template>
              </nz-list-item-meta>
            </nz-skeleton>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </nz-card>
  </nz-col>
  <nz-col nzSpan="8">
    <nz-card>
      <h5>Create Age Group</h5>
      <form (ngSubmit)="submitForm()">
        <nz-row class="m-b-10">
          <nz-form-control [nzSpan]="24">
            <input type="text" nz-input [(ngModel)]="name" name="name" placeholder="Input age group name" />
          </nz-form-control>
        </nz-row>
        <nz-row>
          <nz-form-control [nzSpan]="12">
            <nz-form-label>Min Age</nz-form-label>
            <nz-input-number [(ngModel)]="minAge" name="minAge" placeholder="Input minimum age"></nz-input-number>
          </nz-form-control>
          <nz-form-control [nzSpan]="12">
            <nz-form-label>Max Age</nz-form-label>
            <nz-input-number [nzMin]="minAge + 1" [(ngModel)]="maxAge" name="maxAge" placeholder="Input maximum age">
            </nz-input-number>
          </nz-form-control>
        </nz-row>
        <nz-row>
          <nz-form-control nzSpan="24" style="text-align: right;" class="m-t-10">
            <button nz-button nzType="primary" type="submit" [nzLoading]="isCreatingAgeGroup | async">
              Submit
            </button>
          </nz-form-control>
        </nz-row>
      </form>
    </nz-card>
  </nz-col>
</div>